@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  margin: 1rem;
  width: 250px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
}
